/*---------------------------------------------------------------------------------
    Responsive css
-----------------------------------------------------------------------------------*/

@media only screen and (min-width: 2200px) {
  .michael-home .profile-img {
    max-width: 1200px;
  }
  .michael-home .basic-details .info {
    padding-top: 40%;
  }
  .michael-home .info .informatica {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  h1 {
    font-size: 90px;
  }
  .michael-home .info h2 {
    font-size: 36px;
  }
  .michael-home .info .informatica p {
    font-size: 26px;
    line-height: 1.6;
  }
}

@media only screen and (min-width: 1800px) {
  .michael-home .profile-img {
    max-width: 1000px;
  }
  .michael-home .basic-details .info {
    padding-top: 35% !important;
  }
  .michael-home .info .informatica {
    display: flex;
    flex-direction: column;
    gap: 20px !important;
  }

  h1 {
    font-size: 70px !important;
  }
  .michael-home .info h2 {
    font-size: 30px !important;
  }
  .michael-home .info .informatica p {
    font-size: 24px !important;
    line-height: 1.5 !important;
  }
}

@media only screen and (max-width: 1366px) {
  .michael-home:after {
    height: 200px;
  }
  .michael-home .basic-details .info h1 {
    font-size: 55px;
  }
  .education h4,
  .experience h4 {
    font-size: 19px;
    line-height: 22px;
  }
  .timeline-content .timeline-title {
    font-size: 17px;
    line-height: 20px;
  }
  .portfolio-tabs ul li {
    margin: 0px 5px;
    font-size: 14px;
    line-height: 26px;
  }
  .hovereffect .portfolio-img h3 span {
    font-size: 13px;
    line-height: 19px;
  }
  .michael-service-section .title h2,
  .michael-about-section .title h2,
  .michael-experience-section .title h2,
  .michael-portfolio-section .title h2,
  .michael-news-section .title h2,
  .michael-contact-section .title h2 {
    font-size: 33px;
  }
}
/* @media only screen and (max-width: 1200px) {
  .michael-home:after {
    height: 180px;
  }
  .michael-home .basic-details .info .primary-color {
    font-size: 16px;
  }
  .michael-home .basic-details .info h1 {
    font-size: 45px;
  }
  .michael-home .basic-details .info h2 {
    font-size: 15px;
  }
  .michael-home .basic-details .info p {
    font-size: 14px;
  }
  .michael-home .profile-img:after {
    width: 280px;
    height: 350px;
    top: 200px;
    left: 60px;
  }

  .navbar-collapse .navbar-nav {
    margin: 15px 0 !important;
    padding: 15px;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #eee;
  }
  .michael-about-section .title:after {
    top: 50px;
    left: 50px;
  }
  .michael-about-section .title:before {
    top: 50px;
    right: 50px;
  }
  .michael-about-section .title h2 {
    margin-bottom: 15px;
  }
  .michael-about-section .sec-img img {
    margin-bottom: 30px;
  }
  .michael-experience-section .timeline .timeline-item .timeline-content {
    min-height: 200px;
  }
  .michael-service-section .row {
    margin-bottom: -30px;
  }
  .michael-service-section .row .col-lg-4.col-md-12:not(:last-child) {
    margin-bottom: 30px;
  }
  .michael-service-section .sec-img {
    margin-bottom: 30px;
  }
  .michael-service-section .sec-img:before {
    display: none;
  }
  .michael-service-section .section-card .sr-no h6 {
    width: 60px;
    font-size: 35px;
  }
  .michael-service-section .section-card .card-description .detailed-txt {
    padding-top: 20px;
  }
  .michael-service-section .border-bottom {
    display: none;
  }
  .michael-news-section .news-right-img img {
    display: none;
  }
  .michael-news-section .news-slider {
    max-width: 100%;
    position: unset;
    -webkit-transform: none;
    transform: none;
  }
  .michael-service-section .title h2,
  .michael-about-section .title h2,
  .michael-experience-section .title h2,
  .michael-portfolio-section .title h2,
  .michael-news-section .title h2,
  .michael-contact-section .title h2 {
    font-size: 26px;
  }
} */
@media only screen and (max-width: 767px) {
  .padding-tb-80 {
    padding: 70px 0;
  }
  .padding-t-80 {
    padding-top: 70px;
  }
  .padding-b-80 {
    padding-bottom: 70px;
  }
  .michael-home:after {
    height: 150px;
  }

  .flex-row {
    flex-direction: column !important;
    align-items: center;
  }

  .michael-home .profile-img {
    /* display: none; */
    width: min(100%, 300px);
  }

  .michael-home .basic-details {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    padding-inline: 35px;
    gap: 0;
  }

  .michael-about-section .title {
    padding-top: 20px;
  }
  .michael-about-section .title:after {
    top: 0px;
    left: 0px;
  }
  .michael-about-section .title:before {
    top: 0px;
    right: 0px;
  }

  .profile-img-c {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .michael-portfolio-section .portfolio-tabs {
    margin-bottom: 30px;
    text-align: center;
  }
  .michael-portfolio-section .portfolio-tabs ul li {
    margin: 0;
    font-size: 12px;
  }

  .detailed-content {
    padding-inline: 20px;
  }
  .michael-experience-section:before {
    height: 90px;
  }
  .michael-experience-section .title {
    padding-top: 20px;
  }

  .michael-news-section {
    overflow: hidden;
  }
  .michael-news-section:before {
    height: 90px;
  }
  .michael-news-section .title {
    padding-top: 20px;
  }
  .michael-news-section .card .news-card-details h5 {
    font-size: 15px;
  }
  .michael-news-section .card .news-card-details .primary-clr {
    font-size: 12px;
    line-height: 10px;
  }
  .michael-news-section .card .news-card-details .primary-clr span {
    font-size: 12px;
  }
  .michael-news-section .card .read-more-btn {
    font-size: 12px;
  }
  .box-front .content-wrap h3 {
    font-size: 17px;
    line-height: 20px;
  }
  .education h4,
  .experiense h4 {
    font-size: 16px;
    line-height: 18px;
  }
  .bg-clr {
    padding: 0;
  }
  .bg-clr .michael-footer-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .bg-clr .michael-footer-detail .michael-privacy {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .bg-clr .michael-footer-detail .michael-copy {
    padding: 5px 0;
    text-align: center;
    margin-bottom: 16px;
  }
  .michael-service-section .title h2,
  .michael-about-section .title h2,
  .michael-experience-section .title h2,
  .michael-portfolio-section .title h2,
  .michael-news-section .title h2,
  .michael-contact-section .title h2 {
    font-size: 24px;
  }
  .michael-contact-section form .form-group textarea {
    margin-top: 30px;
  }
  footer.footer.bg-clr {
    padding: 30px 0;
  }
  .bg-clr .michael-footer-detail .michael-copy {
    padding: 0;
  }
  .bg-clr .michael-footer-detail .michael-privacy {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 575px) {
  .michael-home #shape2 {
    left: 60px;
  }
  .michael-home:after {
    height: 120px;
  }
  .michael-home .profile-img {
    max-width: 220px;
  }
  .michael-home .profile-img:after {
    width: 130px;
    height: 130px;
  }

  .michael-home .basic-details .info h1 {
    font-size: 40px;
  }

  .nav-sec .container-fluid {
    padding: 0;
  }
  .section-title {
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .michael-service-section .title h2,
  .michael-about-section .title h2,
  .michael-experience-section .title h2,
  .michael-portfolio-section .title h2,
  .michael-news-section .title h2,
  .michael-contact-section .title h2 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 480px) {
  .michael-home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .michael-home .basic-details .info {
    padding-top: 30%;
  }
  .michael-home .basic-details .info h1 {
    font-size: 36px;
    /* line-height: 32px; */
  }
  .michael-home .basic-details .info h2 {
    font-size: 20px;
    /* line-height: 22px; */
  }

  .michael-home .basic-details .info p {
    font-size: 18px;
  }

  .michael-home .profile-img {
    display: none;
  }

  .michael-home .michael-btn,
  .michael-home .michael-btn-1 {
    font-size: 13px;
  }
  .michael-home .custom-btn {
    width: 120px;
    height: 36px;
  }
  .michael-about-section .title h2 {
    font-size: 30px;
  }
  .michael-about-section .title:after {
    top: 0;
    left: 0;
  }
  .michael-about-section .title:before {
    top: 0;
    right: 0;
  }
  .michael-service-section .title h2 {
    font-size: 30px;
    text-align: center;
  }
  .michael-experience-section .title h2 {
    font-size: 30px;
  }
  .michael-portfolio-section .title h2 {
    font-size: 30px;
  }
  .michael-news-section .title h2 {
    font-size: 30px;
  }
  .michael-contact-section .title h2 {
    font-size: 30px;
  }
  .michael-service-section .title h2,
  .michael-about-section .title h2,
  .michael-experience-section .title h2,
  .michael-portfolio-section .title h2,
  .michael-news-section .title h2,
  .michael-contact-section .title h2 {
    font-size: 20px;
  }
  .michael-service-section .section-card .sr-no {
    display: none;
  }
  .michael-about-section .personal-detail .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media only screen and (max-width: 380px) {
  .michael-home:after {
    height: 100px;
  }
  .michael-home .basic-details .info .buttons {
    display: block;
  }
  .michael-home .basic-details .info .buttons a:last-child {
    margin-top: 25px;
  }
  .michael-home .profile-img:after {
    width: 88px;
    height: 90px;
  }
  .michael-home .profile-img .profile-detail:after {
  }
  top: 10%;
  left: 14%;
  .michael-service-section .personal-detail .content {
    display: block;
  }
  .michael-footer-detail .michael-privacy a {
    margin: 0px;
  }
}
@media only screen and (max-width: 320px) {
  .michael-home .basic-details .info h1 {
    font-size: 30px;
    line-height: 28px;
  }
}
/*# sourceMappingURL=responsive.css.map */
