@keyframes slideLeft {
	from {
		transform: translateX(15%);
        opacity: 0;

	}
		
	to {
		transform: translateX(0%);
        opacity: 1;
        
	}
}

@keyframes fadeUp {
	from {
		transform: translateY(12px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes wiggle {
    0% {
        rotate: 0deg;
    }
    30% {
        rotate: -10deg;
    }
    60% {
        rotate: 10deg;
    }
    90% {
        rotate: 0deg;
    }
}
