@keyframes slideLeft {
	from {
		transform: translateX(15%);
        opacity: 0;

	}
		
	to {
		transform: translateX(0%);
        opacity: 1;
        
	}
}

@keyframes colorful {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


