@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root { 
    font-size: .75rem;
}
*{
touch-action: manipulation;

}
td {

    font-size: calc(var(--size)*1px);
    text-align: center;

    box-shadow: 2px 2px 10px -5px white;
    border-radius: 7px;
    overflow: hidden;

}

[apple-device] td {
    padding-inline: calc(calc(var(--size) / 6.667) * 1px);

}


table {
    padding: 16px;
    --rotation: 0;
    --transY: 0;
    --transX: 0;
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(calc(var(--transY) * 1px)) translateX(calc(var(--transX) * 1px));
    transition: transform calc(4s / var(--fps)) ease-out;
    table-layout: fixed;
    
}


table .⬛ {
    color: transparent;
}

body {
    --size: 30;
    --fps: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height:100%; 
    max-height: 100%;
    max-width: 100%;
}

.alerto:not([open]) {
    display: none;
}

.alerto {
    padding: 30px;
    box-shadow: 2px 2px 10px -5px gray;
    position: absolute;
    font-size: 2rem;
    max-width: 70ch;
    border-radius: 0.5em;
    z-index: 2;
    background-color: white;
}

.alerto .btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alerto button{
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 0.5em;
    border: none;
    outline: none;
    box-shadow: 2px 2px 10px -5px black;
    background-color: rgb(243, 130, 130);
    color: #fff;
    font-size: 1.5em;
    margin-left: 2ch;

    transition: transform 200ms ease-out;
}

.alerto button:hover {
    transform: scale(1.07) translateY(1px);
}

.alerto .also-msg {
    margin-top: .836rem;
    max-width: 55ch;
}

.points {
    position: absolute;
    font-size: 6rem;;
    left: 3rem;
    margin: 0;
    color: #ddf;
    padding: 0;
}


.pause {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: scale(20%) translate(100%, -180%);
    margin: 0;
    padding: 0;
}

.score { 
    top: 1rem;
}

.high-score {
    position: absolute;
    font-size: 5rem;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    color: rgb(255, 255, 255);
    padding: 0;
}

@media (max-width:900px){
    
.high-score {
    font-size: 3.5rem;
    bottom: -20px;
}

}


.secret {
    display: none;
}


.alerto, .points {
    font-family: 'Inconsolata', monospace;
    line-height: 1.6em;
}