
.skills {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skills h2 {
  text-align: center;

}

.skills-grid {
  --min-column-size: 12rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
}

.skills .skill-icon {
  aspect-ratio: 3 / 1;
}

.skills img {
  width: 20%;
  height: auto;
  object-fit: cover;
  display: block;
  margin-inline: auto;
}
