/*EDUCATION*/


h2{
  font-weight: 500;

}
.education {
  margin-top: 10rem;
  text-align: center;
}



.education p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.education p .mainshtik {
  font-size: 1.1rem;
}

.certificates {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  padding-top: 5rem;
}

.certificates div img {
  max-width: 150px;
  aspect-ratio: 1;
  transition: all 200ms ease-in;
}

.certificates div img:hover {
  transform: scale(1.04);
}

/*SKILLS*/
.skills {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skills h2 {
  text-align: center;
}

.skills-grid {
  --min-column-size: 12rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
}

.skills .skill-icon {
  aspect-ratio: 3 / 1;
}

.skills img {
  width: 20%;
  height: auto;
  object-fit: cover;
  display: block;
  margin-inline: auto;
}

/* CONTACT*/

.contact {
  text-align: center;
  margin-top: 10rem;
}

.contact div {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}



.contact a {
  position: relative;
  display: inline-block;
  width: 35px;
  aspect-ratio: 1;
  margin: 0 2px;
  transition: all 0.5s;
}

.contact a:hover {
  cursor: pointer;
}

/* pop-up text */

.contact a span {
  color: var(--menu-font-color);
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 1rem;
  border-radius: 2px;
  background: var(--second-color);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* text pops up when icon is in hover state */

a:hover span {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}

.my-email {
  font-size: 0.8rem;

  font-weight: 500;
  border-radius: 4px;
  max-width: 50%;
  margin-inline: auto;
  margin-top: 2rem;
  color: white;
  background-color: var(--second-color);
}

.resume {
  text-align: center;
  line-height: 1.5;
}

.resume .download {
  padding: 10px 20px;
  color: inherit;
  border: 1px solid currentColor;
  background-color: transparent;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 200ms;
}

.resume .download:hover {
  scale: 1.02;
}