header .aboutme {
  text-align: left;
  line-height: 1.4;
  margin: 0;
}

h1 {
  font-weight: 500;
}

header .aboutme .descriptive-text {
  min-height: 10rem;
  font-size: 1.15rem;

}

header .profile-img img:not(.hidden) {
  /* todo: if going to tab on left side, slideRight */
  animation: slideLeft 300ms ease-in;
}

header img {
  width: 100%;
  display: block;
  border-radius: 4px;
}

header {
  display: grid;
  grid-template-areas:
    "aboutme profile-img"
    "nav profile-img";
  grid-template-columns: 1fr 1fr;
  
}

.aboutme {
  grid-area: aboutme;
  
}

.profile-img {
  grid-area: profile-img;
  padding-left: 2rem;
  align-self: end;
}

nav {
  grid-area: nav;
  padding-right: 2rem;
  align-self: end;
}