@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap');

* {
    font-family: "Raleway", sans-serif;
    box-sizing: content-box;
}

:root {
    --bg-color: #f8f2ec;
    --second-color: #1B074B;
    --grid-item-desc-bg: #e7e2f277;
    --menu-font-color: #e7e2f2;
}

/* Communications */
.carousel-grids > :nth-child(1) {
    --bg-color: #edeff5;
    --second-color: #6471A5;
    --not-second-color: rgba(255, 255, 255, 0.05);
    --grid-item-desc-bg: #C4C1A4;
    --menu-font-color: white;
}

/* Coding */
.carousel-grids > :nth-child(2) {
    --bg-color: #453e50;
    --second-color: #6471A5;    
    --font-color :white;
    --grid-item-desc-bg: #399fe470;
}


/* Piano */
.carousel-grids > :nth-child(3) {
    --bg-color: #090806;
    --second-color: #6471A5;
    --grid-item-desc-bg: #2A2839;
}


body{
    display: flex;
    flex-direction: column;
    width: min(75%, 1000px);
    margin: auto;
    background-color: var(--bg-color);
    padding: 5rem;
    gap: 3rem;
    --body-transition: 250ms linear;
    transition: all var(--body-transition);
}


main {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 0;
}

section {
    margin-top: 3rem;
}
  
.hidden {
    /* visibility: hidden; MUST not write that, to not kill querySelectors */ 
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
