

@media (max-width: 854px) {
  header .profile-img {
      display: none;
  }
  nav {
      --pad-x: 5;
      --pad-y: 10;
  }
  nav ul {
      justify-content: space-between;

      gap: .5rem;
      margin-top: 1rem;
  }
  body {
      padding-inline: .5rem;
      padding-block: 1.5rem;
  }

  .grid {
      --min-column-size: 10rem;
      font-size: .6em;
  }

  .grid img {
      width: 50%;
  }

  .skills img {
      width: 30%;
  }
  
  .skills-grid {
      --min-column-size: 8rem;
      grid-column-gap: 0rem;
      grid-row-gap: 2rem;
  }
}


@media (max-width: 800px) {

  body {
    margin: 0; 
    max-width: 100vw;
  }

  header {
      min-height: calc(100vh - 4rem);
      min-height: 50vh; 
  }



  .grid img {
      width: 60%;
  }
  
  .skills-grid {
      --min-column-size: 5rem;
      grid-column-gap: 0rem;
      grid-row-gap: 2rem;
  }

  .grid-item-texts {
      background-color: transparent;
      transform: translateY(-25%);
  }
}